* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

:root {
    --bg-color: #fff;
}

.wrapper {
    display: flex;
    min-height: 100vh;
}

#sidebarToggler {
    width: 32px;
    height: 32px;
    background-color: red;
    cursor: pointer;
}

main {
    height: 10000px;
    background-color: seagreen;
    width: 100%;
}

aside {
    background-color: aqua;
    transition: all 0.2s ease-in-out;
    width: 60px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

aside.expanded {
    width: 250px;
}