* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    /* font-family: 'Montserrat', sans-serif; */
    font-family: 'Poppins', sans-serif;
    color: #eee;
}

body {
    background-color: orange;
    background-image: url('./images/rust-login.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    color: #ccc;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

form {
    padding: 30px 40px;
    border: 2px solid rgba(255, 255, 255, .2);
    border-radius: 10px;
    backdrop-filter: blur(20px);
    box-shadow: 0 0 10px rgba(0, 0, 0, .2);
    width: 420px;
}

form h1 {
    color: #eee;
    text-align: center;
    margin-bottom: 24px;
    font-size: 40px;
}

.input-field {
    position: relative;
    height: 50px;
    margin-bottom: 30px;
}

.input-field span {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 20px;
    font-size: 20px;
    color: #eee;
}

.input-field input::placeholder {
    color: #eee;
}

.input-field input {
    background: transparent;
    width: 100%;
    height: 100%;
    border: none;
    outline: none;
    border: 2px solid rgba(255, 255, 255, .2);
    border-radius: 40px;
    padding: 20px 45px 20px 20px;
    color: #eee;
    font-size: 16px;
}

.remember-forgot {
    display: flex;
    justify-content: space-between;
}

.remember-forgot label {
    cursor: pointer;
}

.remember-forgot label:hover {
    text-decoration: underline;
}

.remember-forgot a {
    text-decoration: none;
    color: #eee;
    margin-bottom: 30px;
}

.remember-forgot a:hover {
    text-decoration: underline;
}

.button {
    width: 100%;
    height: 45px;
    border-radius: 40px;
    border: none;
    outline: none;
    background-color: #eee;
    cursor: pointer;
    font-size: 14px;
    font-weight: 600;
    margin-bottom: 16px;
    box-shadow: 0 0 10px rgba(0, 0, 0, .1);
    color: #333;
}

.register {
    text-align: center;
    margin-bottom: 16px;
}

.register a {
    color: #eee;
    text-decoration: none;
    font-weight: bold;
}

.register a:hover {
    text-decoration: underline;
}